coverage
template
!.eslintrc.js
!.storybook
storybook
storybook-static
.vscode
node_modules
dist
built-themes

packages/flame/src/Icon/*
!packages/flame/src/Icon/utils
!packages/flame/src/Icon/examples
!packages/flame/src/Icon/*.md
!packages/flame/src/Icon/__tests__
packages/flame/src/Flag/*
!packages/flame/src/Flag/utils
!packages/flame/src/Flag/examples
!packages/flame/src/Flag/*.md
!packages/flame/src/Flag/__tests__

framerx

scripts/plop/templates
