import * as React from 'react';

export interface {{pascalCase name}}Props {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children }) => <div>{children}</div>;

export { {{pascalCase name}} };
