$fl-namespace: 'fl-';
$fl-white: #fff;
$fl-black: #000;
$fl-maple-50: #fff5f5;
$fl-maple-100: #fdd6d7;
$fl-maple-200: #fbb9bb;
$fl-maple-300: #f58286;
$fl-maple-400: #ed5153;
$fl-maple-500: #de2e37;
$fl-maple-600: #cc1820;
$fl-maple-700: #b30a11;
$fl-maple-800: #950307;
$fl-maple-900: #710003;
$fl-maple-1000: #4d0001;
$fl-blue-50: #f5f7ff;
$fl-blue-100: #d6dffd;
$fl-blue-200: #b9c8fb;
$fl-blue-300: #829ff5;
$fl-blue-400: #537dec;
$fl-blue-500: #2e61de;
$fl-blue-600: #1844cc;
$fl-blue-700: #0a2bb3;
$fl-blue-800: #031795;
$fl-blue-900: #000a71;
$fl-blue-1000: #00034d;
$fl-green-50: #f5fff6;
$fl-green-100: #d8fcdc;
$fl-green-200: #bcfac5;
$fl-green-300: #88f398;
$fl-green-400: #5be873;
$fl-green-500: #38da57;
$fl-green-600: #1fc641;
$fl-green-700: #0ead30;
$fl-green-800: #059118;
$fl-green-900: #006f07;
$fl-green-1000: #014d00;
$fl-orange-50: #fffbf5;
$fl-orange-100: #ffedd4;
$fl-orange-200: #ffdfb4;
$fl-orange-300: #fcc37a;
$fl-orange-400: #f5a647;
$fl-orange-500: #ea891e;
$fl-orange-600: #d5730c;
$fl-orange-700: #bb5c02;
$fl-orange-800: #9a4800;
$fl-orange-900: #743300;
$fl-orange-1000: #4d2000;
$fl-gray-50: #f2f5f8;
$fl-gray-100: #d7dce1;
$fl-gray-200: #bcc4ca;
$fl-gray-300: #a3abb3;
$fl-gray-400: #8b939b;
$fl-gray-500: #737b83;
$fl-gray-600: #5c626a;
$fl-gray-700: #464a51;
$fl-gray-800: #2f3137;
$fl-gray-850: #232429;
$fl-gray-900: #18191d;
$fl-gray-950: #111214;
$fl-gray-1000: #020203;
$fl-serif: serif;
$fl-sans-serif: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
$fl-monospace: monospace;
$fl-text-xxl: 2.25rem;
$fl-text-xl: 1.5rem;
$fl-text-l: 1.125rem;
$fl-text: 1rem;
$fl-text-s: 0.875rem;
$fl-text-xs: 0.75rem;
$fl-text-xxs: 0.5rem;
$fl-regular: 400;
$fl-bold: 700;
$fl-letter-spacing-normal: normal;
$fl-letter-spacing-1: 0.03125rem;
$fl-letter-spacing-2: 0.0625rem;
$fl-letter-spacing-3: 0.09375rem;
$fl-spacing-0: 0;
$fl-spacing-1: 0.375rem;
$fl-spacing-2: 0.75rem;
$fl-spacing-3: 1.125rem;
$fl-spacing-4: 1.5rem;
$fl-spacing-5: 1.875rem;
$fl-spacing-6: 2.25rem;
$fl-spacing-7: 2.625rem;
$fl-spacing-8: 3rem;
$fl-spacing-9: 3.375rem;
$fl-spacing-10: 3.75rem;
$fl-shadow-1: 0 0.0625rem 0.125rem rgba(12, 13, 13, 0.15);
$fl-shadow-2: 0 0.125rem 0.25rem rgba(12, 13, 13, 0.15);
$fl-shadow-3: 0 0.1875rem 0.375rem rgba(12, 13, 13, 0.15);
$fl-shadow-4: 0 0.375rem 0.75rem rgba(12, 13, 13, 0.15);
$fl-shadow-5: 0 0.75rem 1.5rem rgba(12, 13, 13, 0.15);
$fl-inner-shadow-1: inset 0 0.0625rem 0.125rem rgba(56, 61, 61, 0.1);
$fl-inner-shadow-2: inset 0 0 0.375rem rgba(12, 13, 13, 0.18);
$fl-inner-shadow-n1: inset 0 -0.0625rem 0.1875rem rgba(12, 13, 13, 0.18);
$fl-border-shadow: 0 0 0 0.0625rem rgba(12, 13, 13, 0.15);
$fl-radius-1: 0.1875rem;
$fl-radius-2: 0.375rem;
$fl-radius-circle: 50%;
$fl-transition-duration-fast: 100ms;
$fl-transition-duration-base: 200ms;
$fl-transition-duration-slow: 300ms;
