/*
  Media Queries
  ======
  A mobile first approach for responsive UI.
*/

$fl-tablet-portrait-width: 600px;
$fl-tablet-landscape-width: 900px;
$fl-tablet-desktop-width: 1200px;
$fl-tablet-big-desktop-width: 1800px;

@mixin fl-for-phone-only {
  @media (max-width: $fl-tablet-portrait-width - 1px) {
    @content;
  }
}

@mixin fl-for-non-desktop-only {
  @media (max-width: $fl-tablet-desktop-width - 1px) {
    @content;
  }
}

@mixin fl-for-tablet-portrait-up {
  @media (min-width: $fl-tablet-portrait-width) {
    @content;
  }
}

@mixin fl-for-tablet-landscape-up {
  @media (min-width: $fl-tablet-landscape-width) {
    @content;
  }
}

@mixin fl-for-desktop-up {
  @media (min-width: $fl-tablet-desktop-width) {
    @content;
  }
}

@mixin fl-for-big-desktop-up {
  @media (min-width: $fl-tablet-big-desktop-width) {
    @content;
  }
}

@mixin fl-for-touch-only {
  @media (hover: none) {
    @content;
  }
}
