@import '../index.scss';
.fl-shadow-1 {
  box-shadow: $fl-shadow-1;
}
.fl-shadow-2 {
  box-shadow: $fl-shadow-2;
}
.fl-shadow-3 {
  box-shadow: $fl-shadow-3;
}
.fl-shadow-4 {
  box-shadow: $fl-shadow-4;
}
.fl-shadow-5 {
  box-shadow: $fl-shadow-5;
}
.fl-inner-shadow-1 {
  box-shadow: $fl-inner-shadow-1;
}
.fl-inner-shadow-2 {
  box-shadow: $fl-inner-shadow-2;
}
.fl-inner-shadow-n1 {
  box-shadow: $fl-inner-shadow-n1;
}
.fl-border-shadow {
  box-shadow: $fl-border-shadow;
}
