{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">0.25%", "not op_mini all", "not ie <= 10"]
        },
        "debug": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "emotion"]
}
